# Ignore compiled files
CMakeCache.txt
cmake_install.cmake
main
test_aruco
Makefile
src/CMakeCache.txt
src/cmake_install.cmake
src/libaruco.a
src/libcu_aruco.a
src/Makefile

# Ignore gprof files
gmon.out
result.txt
result.png
gprof2dot.py

# Ignore build directories
/CMakeFiles/
/src/CMakeFiles/