# Ignore compiled files
CMakeCache.txt
cmake_install.cmake
main
Makefile
src/CMakeCache.txt
src/cmake_install.cmake
src/libaruco.a
src/libcu_aruco.a
src/Makefile

# Ignore build directories
/CMakeFiles/
/src/CMakeFiles/
